@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
}

div {
  align-items: middle;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* LAYOUT */
@media (max-width: 600px) {
  .mobil-font {
    font-size: 12px;
  }
}

/* ELEMENTS STYLE */
.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
}

.guess {
  background: none;
  border: 2px solid #eee;
  color: white;
  font-size: 3rem;
}

.check {
  margin-top: 0.2rem;
  padding: 0.5rem;
  width: 100%;
}

.btn {
  background-color: #eee;
  color: #333;
}

.btn:hover {
  background-color: rgb(44, 42, 42);
}
